@import url('/home/peedrovzxf/.cache/wal/colors-waybar.css');

* {
  font-weight: bold;
  font-family: JetBrains Mono Nerd Font;
}

/* Global styles */
#window {
  margin: 0px;
  border: 4px solid @color8;
  background-color: @color7;
  color: @color0;
}

/* Input box */
#input {
  margin: 5px;
  border: 1px solid @color0;
  color: @color0;
  background-color: @color7;
  padding: 6px;
  border-radius: 5px;
}

#input::placeholder {
  color: @color0;
}

#input:focus {
  color: @color0;
}

#input prompt {
  color: @color0;
}

#input image {
  color: @color7;
}

#prompt {
  color: @color0;
}

/* Inner box */
#inner-box {
  margin: 5px;
  border: none;
  color: @color0;
  padding: 0px;
}

/* Outer box */
#outer-box {
  margin: 5px;
  border: none;
  padding: 5px;
}

/* Scroll area */
#scroll {
  margin: 0px;
}

/* Text styling */
#text {
  margin: 5px;
  border: none;
  color: @color0;
  font-size: 14px;
}

#entry.activatable #text {
  color: @color0;
}

#entry > * {
  color: @color8;
}

/* Active entry */
#entry:selected {
  border: 5px solid @color8;
  border-radius: 5;
  background-color: @color8;
}

#entry:selected #text {
  color: @color0;
}

#entry:hover #text {
  color: @color8;
}

