* {
    font-size: 12px;
    font-family: "Aporetic Sans Mono";
    color: white;
    font-weight: 100;
}

window#waybar {
    all: unset;
    background-color: transparent;
    color: white;
    min-width: 0px;
}

.modules-left,
.modules-center,
.modules-right {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 7px;
    margin-right: 7px;
    border: none;
    padding: 5px 0px;
    min-width: 0px;
}

.modules-center {
    min-height: unset;
    min-width: unset;
}

tooltip {
    all: unset;
}

tooltip>box {
    background-color: rgba(0, 0, 0, 0.75);

    border-radius: 10px;

    border: 1px solid rgba(255, 255, 255, 0.15);

    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.25);

    padding: 6px 8px;
}

tooltip label {
    color: white;
    font-size: 11px;
    font-weight: 500;
    font-family: "Aporetic Sans Mono";
}

#clock:hover,
#wireplumber:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#custom-randomwallpaper:hover {
    transition: all 0.3s ease;
    color: white;
}

#workspaces {
    padding: 5px 0px;
}

#workspaces button {
    all: unset;
    margin: 6px 0px;
    padding: 4px;
    background: black;
    border-radius: 10px;
    transition: all 0.3s;
}

#workspaces button.active {
    border: none;
    border-radius: 10px;
    background: white;
    padding: 10px 4px;
}

#workspaces button:hover label,
#workspaces button.active label {
    color: black;
}

#group-expand {
    padding: 5px 0px;
    transition: all 0.3s ease;
}

#battery {
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
}

#custom-expand {
    padding: 5px 0px;
    color: white;
    transition: all 0.3s ease;
}

#custom-expand:hover {
    color: black;
}

#clock,
#wireplumber,
#bluetooth,
#network,
#custom-randomwallpaper {
    padding: 5px 0px;
    color: white;
    transition: all 0.3s ease;
}

#custom-power {
    color: crimson
}

#custom-endpoint {
    color: white;
}

#tray {
    padding: 5px 0px;
    transition: all .3s ease;
}

#tray menu {
    background-color: rgba(0, 0, 0, 0.75);

    border-radius: 10px;

    border: 1px solid rgba(255, 255, 255, 0.15);

    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.25);
}

#tray menu * {
    padding: 5px 0px;
    transition: all .3s ease;
    color: white;
}

#tray menu separator {
    padding: 5px 0px;
    transition: all .3s ease;
}
